SERVER_ADDR=:8080
GRACEFUL_SHUTDOWN_TIMEOUT=10s

USER_DB_URL=postgres://postgres:postgres@localhost:5432/auth?sslmode=disable
TOKEN_DB_URL=postgres://postgres:postgres@localhost:5432/auth?sslmode=disable
MIGRATIONS_DB_URL=postgres://postgres:postgres@localhost:5432/auth?sslmode=disable

JWT_SECRET=secret
JWT_ACCESS_TTL=1h
BCRYPT_COST=12

DB_WAIT_RETRIES=30
DB_WAIT_DELAY_SECONDS=2
